
.container {
    height: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}



/*Header-Menu*/


.header {
    width: 100%;
    max-height: 117px;
    z-index: 1;
     
}

.header .menu {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.menu a {
    display: block;
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0 1.2rem; /*primeiro top e bottom, depois right e left*/    
    text-decoration: none;
    color: #363434;
    border-bottom: 2px solid transparent;
    transition: border 0.2s;
}


/*Falta Adicionar a funcionalidade de quando tiver com alguma pagina selecionada, ter o sublinhado embaixo*/

.menu div + div:hover:after{
    content: "";
    display: block;
    margin: 0 auto;
    max-width: 50%;
    border-bottom: 2px solid #363434 ;
}


#logoImg img {
    max-width: 300px;
}



/*SlideContainer*/

.slideArea {
    max-width: 1100px;
    max-height: 456px;
    position: relative;
}

.slideContainer {
    width: 100%;
    background-image: url('/src/images/background-blue.png');
    background-repeat: no-repeat;
    height: 456px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}



.slideBackgroundContainer img {
    width: 100%;
}


/*Passadores slide e counter*/

.backSlide, .nextSlide {
    font-size: 80px;
    color: #e21400;
    cursor: pointer;
}

.backSlide:hover, .nextSlide:hover {
    color: #363434;
}

.slideCounter {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: row;
}

.slideCounter > div {
    width: 19px;
    height: 19px;
    border: 1px solid #e21400;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.active {
    width: 19px;
    height: 19px;
    background-color: #e21400;
    border-radius: 50%;
    margin: 0 5px;
}

/*Livros*/

.dataLivro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dataLivro .capaLivro img {
    max-width: 314px;
    max-height: 314px;
}

.dataLivro .livroAcesso {

    text-align: center;
}

.dataLivro .livroAcesso p {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 444px;
    margin-bottom: 10px;
}

.acessarLivro {    
    padding: 5px 20px;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    background-color: #e21400;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

.acessarLivro:hover {
    background-color: #363434;
}


/*Lançamentos Area*/

.lancamentosArea {
    margin-top: 30px;
}

.headerLancamentos {
    margin: 0 auto;
    max-width: 882px;
}

.titulo {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
}

.borderTitulo {
    border-top: 1px solid #363434;
    margin-bottom: 25px;
}

.lancamentosItens {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Books Card*/

.bookCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;   
}

.bookImg {
    max-width: 232px;
    max-height: 252px;   
}

.bookImg img {
    width: 100%;
}

.tituloBook h1 {
    font-size: 24px;
    font-weight: 400;
}

.precoReal {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
    color: #e21400;
    text-align: center;
}

.precoPromocional {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
    color: #009933;
    text-align: center;
    margin-bottom: 5px;
}

.btnComprar {
    padding: 5px 20px;
    border:none;
    background-color: #e21400;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;    
    transition: background 0.5s;
}

.btnComprar:hover {
    background-color: #363434;

}


/*Destaque Area*/

.destaqueArea {
    margin-top: 70px;

}

.headerDestaque {
    margin: 0 auto;
    max-width: 882px;
}

.destaqueItens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    row-gap: 80px;
    max-width: 882px;
    margin: 0 auto;
}


/*Footer*/

footer {
    margin-top: 100px;
    max-width: 1100px;
    background-image: url('../images/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #363434;
    display: flex;  
    flex-direction: column;
}

.headerFooter {
    text-align: center;
    margin: 0 auto;
}

.headerFooter p {
    max-width: 496px;
    font-size: 1.3rem;
    font-weight: 400;
}

.footer {
    margin-top: 20px;
    display: flex;
    width: 100%;
}

.socialMedia {
    width: 50%;
    text-align: center;
}

.socialMedia p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
}

.socialMediaLinks {
    display: flex;
    justify-content: space-evenly;
    max-width: 200px;
    margin: 0 auto;
}

.socialMediaLinks > div {
    background-color: #363434;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebookLink a, .pinterestLink a, .instagramLink a {
    color: #fff;
    font-size: 30px;
    transition: color .5s;
}

.facebookLink a:hover , .pinterestLink a:hover, .instagramLink a:hover {    
    color: #b4b4b4;
}

.formasPagamentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formasPagamentos p{
    font-weight: 300;
    font-size: 20px;
}

.formasPagamentos img {
    max-width: 50%;
}

